<!DOCTYPE html>
{% load i18n %}
{% load static %}
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}{% trans 'РОСНЕЙТРО' %}</title>
	<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon"> 
	{% if keywords %}
	<meta name="keywords" content="{{ keywords }}">
	{% endif %}
	{% if description %}
	<meta name="description" content="{{ description }}">
	{% endif %}
	{% load compress %}
	{% compress css %}

	<link rel="stylesheet" type="text/less" href="{% static 'less/style.less' %}">
	{% endcompress %}
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
        
    <nav class="navbar navbar-default navbar-fixed-top" id="navbar">

    <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                <span class="sr-only">{% trans "МЕНЮ" %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="main-menu">
                    {% include 'menu.html' %}
                    {% include 'social_menu.html' %}
                    {% include 'lang.html' %}
                    {% include 'profile_menu.html' %}
                </div>
    </div>
    </nav>
        {% block header %}
        {% endblock %}

        <br>
        <br>
<div class="container">
        
                    <div class="row" id="content">
                            <div class="col-sm-12">
        <br>
        <br>
        <br>
            {% block content %}
            {% endblock %}
                            </div>
                    </div>
</div>
            {% block aftercontent %}
            {% endblock %}
{% include 'js.html'%}
{% block custom_scripts %}
{% endblock %}
</body>
</html>

