	{% load static %}
	{% load compress %}
{% compress js %}
<script src="{% static 'js/jquery-1.11.3.js'%}"></script>
{% if form %}
    <script src="{% static 'js/bootstrap-datepicker.js'%}"></script>
    <script src="{% static 'js/bootstrap-datepicker.ru.js'%}"></script>
{% endif %}
	<script src="{% static 'js/dropdown.js' %}"></script>
	<script src="{% static 'js/collapse.js' %}"></script>
<script>
$(function(){
        $('.datepicker').datepicker({
            format: 'dd.mm.yyyy',
            language: 'ru',
            forceParse: false
		});
  $('a[href*=#]:not([href=#])').click(function() {
      var target = $('#'+ $(this).attr('href').split('#')[1]);
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 500);
      }
  });


    if($('#main-page-header').length){
            if(!$('#navbar').hasClass('menutoptransparent') && $(window).scrollTop() < $('#main-page-header').height()/4){
                $('#navbar').addClass('menutoptransparent');
            }
    }
    $(window).scroll(function(){
        if($('#main-page-header').length){
            if(!$('#navbar').hasClass('menutoptransparent') && $(window).scrollTop() < $('#main-page-header').height()/4){
                $('#navbar').addClass('menutoptransparent');
            }
            if($('#navbar').hasClass('menutoptransparent') && $(window).scrollTop() > $('#main-page-header').height()/4){
                $('#navbar').removeClass('menutoptransparent');
            }
        }
    });
});
</script>
{% endcompress %}
