{% load i18n %}
        {% get_current_language as LANGUAGE_CODE %}
	{% load static %}
	{% load compress %}
{% compress js %}
<script src="{% static 'js/jquery-1.11.3.js'%}"></script>
{% if form %}
    <script src="{% static 'js/bootstrap-datepicker.js'%}"></script>
    <script src="{% static 'js/bootstrap-datepicker.ru.js'%}"></script>
{% endif %}
	<script src="{% static 'js/dropdown.js' %}"></script>
	<script src="{% static 'js/collapse.js' %}"></script>
<script>
$(function(){
        $('.datepicker').datepicker({
            format: {% if LANGUAGE_CODE == 'ru'%}'dd.mm.yyyy'{% else %}'yyyy-mm-dd'{% endif %},
            language: '{{ LANGUAGE_CODE }}',
            forceParse: false
		});
  $('a[href*=#]:not([href=#])').click(function() {
      var target = $('#'+ $(this).attr('href').split('#')[1]);
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 500);
      }
  });


    if($('#main-page-header').length){
            if(!$('#navbar').hasClass('menutoptransparent') && $(window).scrollTop() < $('#main-page-header').height()/4){
                $('#navbar').addClass('menutoptransparent');
            }
    }
    $(window).scroll(function(){
        if($('#main-page-header').length){
            if(!$('#navbar').hasClass('menutoptransparent') && $(window).scrollTop() < $('#main-page-header').height()/4){
                $('#navbar').addClass('menutoptransparent');
            }
            if($('#navbar').hasClass('menutoptransparent') && $(window).scrollTop() > $('#main-page-header').height()/4){
                $('#navbar').removeClass('menutoptransparent');
            }
        }
    });
   $("input#filter").keyup(function(){
           $(".checkboxgroup:visible").each(function(){
               var cbg = $(this);
               var search = $("input#filter").val().toLowerCase();
               if( !cbg.children().eq(0).children().eq(0).is(':checked') && cbg.children().eq(1).children().eq(0).text().toLowerCase().indexOf(search) == -1 && cbg.find('.org').text().toLowerCase().indexOf(search) == -1){
                       cbg.hide();
               }
           });
           $(".checkboxgroup:hidden").each(function(){
               var cbg = $(this);
               var search = $("input#filter").val().toLowerCase();
               if ( cbg.children().eq(1).children().eq(0).text().toLowerCase().indexOf(search) != -1 || cbg.children().eq(1).children().eq(1).text().toLowerCase().indexOf(search) != -1){
                       cbg.show();
               }
           });
   });
   $('form').keypress(function(event){

               if (event.keyCode === 10 || event.keyCode === 13) 
                               event.preventDefault();

                 });


});
</script>
{% endcompress %}
