{% extends 'base.html'%}
{% load i18n %}
{% block header %}
<header id="main-page-header">
<div class="centering">
<div id="mainpageh1">
    <h1>{% trans "Российское Нейтронографическое Общество"%}</h1>
    <br>
    
</div>
</div>
</header>
{% endblock %}
{% block content %}
<h2 class="text-center">{% trans "О Нас" %}</h2>
<br>


    {{ custom_settings.translated.mainpagecontent | safe }}
    
<br>
<br>
<br>
{% endblock %}
{% block aftercontent %}
<section id="form-section">
    <br>
    <br>
    <br>
<div class="container">
        <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10" id="form-bg">
    <br>
<h2 class="text-center">{% trans 'Регистрация' %}</h2>
<br>
{% if custom_settings.translated.formpagecontent%}
{{ custom_settings.translated.formpagecontent|safe }}
{% endif %}
<br>
<br>

                    {% include 'registration_form.html' %}
                </div>
                <div class="col-lg-1"></div>
        </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
</section>

{% endblock %}
