{% load i18n %}
<form action="{% url "member_request_session" %}" method="post">
		{% csrf_token %}
		{% for field in form %}
			{% if field.errors %}
				<div class="alert alert-danger">
					{{ field.errors }}
				</div>
			{% endif %}

			<div class="form-group row">
					<label class="control-label col-md-5">
                    <b>
					{{ field.label }}
<br>

					<small style="font-weight: normal">
					{{ field.help_text }}
					</small>
                    </label>
						<div class="col-md-7 controls">
						        {{ field }}
						</div>
			</div>
            
            {% endfor %}
		<div class="row">
            <div class="col-md-8"></div>
		<div class="col-md-4">
		        <button type="submit" class="btn btn-success btn-lg btn-default clearfix pull-right">{% trans 'Получить ссылку' %}</button>
		</div>
		</div>
        
        <br>
</form>


