{% load i18n %}
{% load static %}
<ul class="nav navbar-nav navbar-right">
{% if user.is_authenticated and user.person %}
	<li class="dropdown">
        <a data-toggle="dropdown" href="#">
                {{ user.person.first_name }}
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="{% url 'member_edit_profile'%}">{% trans "Профиль" %}</a>
            </li>
            {% if voting %}
            <li>
                <a href="{% url 'votes'%}">{% trans "Голосование" %}</a>
            </li>
            {% endif %}
            {% if prevoting %}
            <li>
                <a href="{% url 'prevotes'%}">{% trans "Предложить кандидатов" %}</a>
            </li>
            {% endif %}
            <li>
                <a href="{% url 'member_logout'%}">{% trans "Выйти" %}</a>
            </li>
        </ul>
    </li>
{% else %}
    <li>
        <a href="{% url 'member_request_session'%}">{% trans "Вход" %}</a>
    </li>
{% endif %}
</ul>

